<div class="intro-title">
  Never lose a quote again.
</div>

<div>
  <h3>Snippets is a free and easy tool that helps you highlight, save and organize interesting bits of information from the web.</h3>
</div>