@font-face {
  font-family: 'museo_slab500';
  src: url('museo_slab_500-webfont.eot');
  src: url('museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('museo_slab_500-webfont.woff') format('woff'),
  url('museo_slab_500-webfont.ttf') format('truetype'),
  url('museo_slab_500-webfont.svg#museo_slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('proximanova-light-webfont.eot');
  src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('proximanova-light-webfont.woff') format('woff'),
  url('proximanova-light-webfont.ttf') format('truetype'),
  url('proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'Montserrat';
  background-color: #F1F1F1;
}

textarea {
  width: 100%;
}

.intro-title{
  padding-top: 10%;
  font-size: 3.5em;
}

.intro-text {
  font-size: 1.7em;
  margin: 0;
}

.edit-button{
  cursor: pointer;
}

.delete-button{
  cursor: pointer;
}

.see-more-button{
  cursor: pointer;
}

.brand-name {
  font-family: 'Rockwell', serif;
  font-size: 3em;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.wrapper {
  color: #332118;
  width: 80%;
  max-width: 1180px;
  margin: 25px auto;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

h2 {
  display: inline;
  color: #A2A2A2;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 3px;
  margin-bottom: 3%;
  font-size: .9em;
}

h3 {

}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: #543729;
}

a:hover{
  text-decoration: none;
  color: #aa6546;
}

.snippet-links {
  width: 50%;
}

.snippet-notes{
  display: none;
}

.snippet {
  border-bottom: 1px solid #000000;
  background-color: #FFFFFF;
/*  min-height: 300px;
  max-height: 300px;*/
  overflow: hidden;
  font-family: 'Buenard';
  font-size: .9em;
  padding: 10%;
  margin-top: 20px;
}

.tags {
  padding: 2%;
  margin-top: 20px;
}