@font-face {
    font-family: 'museo_slab500';
    src: url('../fonts/museo_slab_500-webfont.eot');
    src: url('../fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_500-webfont.woff') format('woff'),
         url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

.brand-name {
  font-family: 'museo_slab500', serif;
  font-size: 3em;
  font-weight: 500;
  padding-bottom: 20px;
}

.wrapper {
  color: #332118;
  width: 90%;
  max-width: 1180px;
  margin: 25px auto;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

h2 {
  display: inline;
  color: #A2A2A2;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 3px;
  margin-bottom: 3%;
  border-bottom: 2px solid #E5E5E5;
  font-size: .9em;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .6em;
  margin: 0;
}

a {
  color: #543729;
}

a:hover{
  text-decoration: none;
  color: #00ACEE;
}

.snippet-links {
  width: 50%;
}

.snippet-notes{
  display: none;
}

.snippet {
  font-family: 'Buenard';
  font-size: 16pt;
  background-color: #E5E5E5;
  padding: 2%;
  margin-top: 20px;
}

.tags {
  padding: 2%;
  margin-top: 20px;
}